#cards {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 5%;
  background-color: #d3d3d3;
}
.card:hover {
  transform: scale(1.2);
}

.card > img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  width: 200px;
  width: auto;
}
