#cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 150px;
  height: 150px;
  margin: 1%;
  padding: 5%; 
  background-color: #646262;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.1 fade-in-out;
}

.card > img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 150px;
  max-width: 150px;
}
