#cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 200px;
  height: 200px;
  margin: 5%;
  /* background-color: #d3d3d3; */
  background-color: #646262;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.card:hover {
  transform: scale(1.2);
}

.card > img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 150px;
  max-width: 150px;
}
